<div class="header">
  <a class="logo" [routerLink]="['/']" fragment="home">
    <h1 class="frank">
      <img
        src="https://image.flaticon.com/icons/png/512/1670/1670078.png"
        alt=""
      />Frank
    </h1>
    <h3 class="name">Fleuriste et Centre du jardin</h3>
  </a>

  <h3 class="since">Depuis 1950 - Serres de plus de 800 pi2</h3>

  <nav >
    <ul class="nav-links" (click)="closePanel()" >
      <li><a [routerLink]="['/']" fragment="plantes">Nos plantes</a></li>
      <li><a [routerLink]="['/']" fragment="fleurs">Nos fleurs</a></li>
      <li><a [routerLink]="['/']" fragment="services">Services</a></li>
      <li><a [routerLink]="['/']" fragment="contact">Nous joindre</a></li>
    </ul>
    <div (click)="navPanel()" class="burger">
      <!-- <div class="burger"> -->
      <div class="burger1"></div>
      <div class="burger2"></div>
      <div class="burger3"></div>
    </div>
  </nav>

  
</div>
<div (click)="navPanel()" id="dismissSide" style="position: fixed; top: 0; left: 0; height: 0vh; width: 100vw; background-color: rgba(233, 247, 255, 0.644); z-index: 70; backdrop-filter: blur(5px);"></div>
