<div class="header">
    <div class="logo">
        <h1 class="frank"><img src="https://image.flaticon.com/icons/png/512/1670/1670078.png" alt="">Frank</h1>
        <h3 class="name">Fleuriste et Centre du jardin</h3> 
        
    </div>
    
    <h3 class='since'>Depuis 1950 - Serres de plus de 800 pi2</h3>

    <nav>
        <ul class="nav-links">
            <li><a href="#">En vedette</a></li>
            <li><a href="#">Nos plantes</a></li>
            <li><a href="#">Nos fleurs</a></li>
            <li><a target="blank" href="http://www.frankfleuriste.com/">site original</a></li>
        
        
        </ul>
        <div (click)="navPanel()" class="burger">
            <div class="burger1"></div>
            <div class="burger2"></div>
            <div class="burger3"></div>
        </div>
    </nav>
</div>