<div class="rectangle "></div>

<div id="home" class="fleurs">
  <app-navbar></app-navbar>

  <div class="landing">
    <table class="heures">
      <tr>
        <th>Lundi au Vendredi :</th>
        <td>9h à 17h30</td>
      </tr>
      <tr>
        <th>Samedi :</th>
        <td>9h à 17h</td>
      </tr>
      <tr>
        <th>Dimanche :</th>
        <td>9h à 16</td>
      </tr>
    </table>
  </div>

  <div id="plantes" class="vente">
    <h1>Plantes en vedettes</h1>
    <p class="vente-text">
      Vous trouverai ici des plantes disponibles en grand nombre et que vous
      pouvez commander en ligne.Nous offrons une vaste selection de plantes
      d'interieur et d'exterieur en magasin.
    </p>
    <div class="shelf">
      <div
        *ngFor="let item of items"
        (click)="clickItem($event)"
        id="item{{ item.id }}"
        class="item"
      >
        <img src="{{ item.img }}" alt="" />
        <div class="description">
          <p>{{ item.name }}</p>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="fleurs" class="vente">
    <h1>Fleurs en vedettes</h1>
    <p class="vente-text">
      Vous trouverai ici des plantes disponibles en grand nombre et que vous
      pouvez commander en ligne.Nous offrons une vaste selection de plantes
      d'interieur et d'exterieur en magasin.
    </p>
    <div class="shelf">
      <div
        *ngFor="let item of items"
        (click)="clickItem($event)"
        id="item{{ item.id + 4 }}"
        class="item"
      >
        <img src="{{ item.img }}" alt="" />
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>

  <app-map-contact (openModalOutput)="openAbout($event)"></app-map-contact>
</div>

<app-modal [incomingDiv]="sendDiv"></app-modal>
