
    

<div class="layout">
<div class="box2">
    <div class="header">
        <div class="logo">
            <h1 class="frank"><img src="https://image.flaticon.com/icons/png/512/1670/1670078.png" alt="">Frank</h1>
            <h3 class="name">Fleuriste et Centre du jardin</h3> 
            
        </div>
        
        <h3 class='since'>Depuis 1950 - Serres de plus de 800 pi2</h3>

        <nav>
            <ul class="nav-links">
                <li><a href="#">En vedette</a></li>
                <li><a href="#">Nos plantes</a></li>
                <li><a href="#">Nos fleurs</a></li>
                <li><a target="blank" href="http://www.frankfleuriste.com/">site original</a></li>
            
            
            </ul>
            <div (click)="navPanel()" class="burger">
                <div class="burger1"></div>
                <div class="burger2"></div>
                <div class="burger3"></div>
            </div>
        </nav>
    </div>
</div>
<div class="vente">
    <h1>Plantes en vedettes</h1>
    <p class="vente-text">Vous trouverai ici des plantes disponibles en grand nombre et que vous pouvez commander en ligne.Nous offrons une vaste selection de plantes d'interieur et d'exterieur en magasin. </p>
    <div class="box3">
    <div class="item">
        <img src="https://images.pexels.com/photos/1974508/pexels-photo-1974508.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
        <p>Oiseau du paradis - 15$ a 30$</p>
        <p>6po a 12po</p>
    </div>
    <div class="item">
        <img src="https://images.pexels.com/photos/1777813/pexels-photo-1777813.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
        <p>Pothos - 5$ a 30$</p>
    </div>
    <div class="item">
        <img src="https://images.pexels.com/photos/2001154/pexels-photo-2001154.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        <p>Monstera deliciosa - 15$ a 30$</p>
    </div>
    <div class="item">
        <img src="https://images.pexels.com/photos/1084188/pexels-photo-1084188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        <p>Hoya - 15$ a 30$</p>
    </div>
</div>
</div>

<div class="contact">
    <div class="info">
        <h1>Venez nous visiter</h1>

    </div>
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Fleuriste+Frank,+2935+Avenue+Haig,+Montr%C3%A9al,+QC&amp;aq=1&amp;oq=frank+f&amp;sll=45.558042,-73.730303&amp;sspn=0.816354,2.113495&amp;ie=UTF8&amp;hq=Fleuriste+Frank,&amp;hnear=2935+Avenue+Haig,+Montr%C3%A9al,+Qu%C3%A9bec+H1N+1N1&amp;t=m&amp;ll=45.585092,-73.534284&amp;spn=0.012014,0.019269&amp;z=15&amp;output=embed"></iframe>
    </div>
</div>

    
<img width="100%" src="https://images.pexels.com/photos/1903965/pexels-photo-1903965.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
