/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Courgette|Varela+Round&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  outline: none;
}

body {
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
}
